body {
	background: #fdfdfd;
	padding-bottom: 100px;
}

a,
a:active,
a:visited,
a:focus {
  color: #bD2828;
}

a:hover {
  color: #841010;
}

h3, h4 {
	margin-top: 30px;
}

.color-grey {
	color: #aaa;
}

.header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	background: #fff;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.title-small {
  font-size: 0.5em;
  color: #999;
  display: block;
	line-height: 1.3em;
}

.content {
	position: relative;
	margin: 0 auto;
	padding: 20px;
	max-width: 840px;
}

.examples {
	text-align: center;
}

.example {
	margin: 20px auto;
}

@media (max-width: 600px) {
	.title h1 {
		font-size: 2.1em;
	}

  .mk-sektor {
    width: 50px;
		margin-right: 15px;
  }
}

@media (min-width: 650px) {
  .examples {
		display: flex;
		justify-content: space-between;
	}
}

/* Sektor stuff */

.Sektor {
  width: 200px;
  height: 200px;
	margin-bottom: 10px;
}
